{% block base_homepage_slider %}
    <div class="homepage-slider">      
        <div id="homeSlider" class="carousel slide" data-ride="carousel" data-interval="3900">

            {# Indicators #}
            <ul class="carousel-indicators">
                <li data-target="#homeSlider" data-slide-to="0" class="active"></li>
                <li data-target="#homeSlider" data-slide-to="1"></li>
                <li data-target="#homeSlider" data-slide-to="2"></li>
            </ul>

            {# The slideshow #}
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset("bundles/trialtheme/slider/slider-one.jpg") }}" alt="Home furniture">
                    <div class="carousel-caption align-right dark">
						<h2>myStore Sale PRO</h2>
						<p>Um diesen und andere Texte für Ihr Theme zu bearbeiten, gehen Sie in der Verwaltungsoberfläche Ihrer Shopware 6 Installation auf <strong>Einstellungen -&gt; Textbausteine</strong> und suchen Sie in der Suchleiste nach 'myStoreSalePro'.</p>
						<p><a href="#" class="btn btn-secondary">Beispiel Button</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset("bundles/trialtheme/slider/slider-two.jpg") }}" alt="Home furniture">
                    <div class="carousel-caption align-left light">
						<h2>myStore Sale PRO</h2>
						<p>Um diesen und andere Texte für Ihr Theme zu bearbeiten, gehen Sie in der Verwaltungsoberfläche Ihrer Shopware 6 Installation auf <strong>Einstellungen -&gt; Textbausteine</strong> und suchen Sie in der Suchleiste nach 'myStoreSalePro'.</p>
						<p><a href="#" class="btn btn-secondary">Beispiel Button</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset("bundles/trialtheme/slider/slider-three.jpg") }}" alt="Home furniture">
                    <div class="carousel-caption align-center dark ">
						<h2>myStore Sale PRO</h2>
						<p>Um diesen und andere Texte für Ihr Theme zu bearbeiten, gehen Sie in der Verwaltungsoberfläche Ihrer Shopware 6 Installation auf <strong>Einstellungen -&gt; Textbausteine</strong> und suchen Sie in der Suchleiste nach 'myStoreSalePro'.</p>
						<p><a href="#" class="btn btn-secondary">Beispiel Button</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
